{% extends "blog/base.html" %}
{% block content %}
    <div class="article-metadata container">
      <h2>About Page</h2>
    </div> 
      <p class="article -content">
        <div class='container'>
          <p>This is a site created by a young programmer built using django and python of course.
          The main aim of this application is to create a platform where people can ask questions and also find solutions to their problems.
          This application is inspired from other sites like <strong>Quora and StackOverFlow</strong>.
          </p>

          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
      </p>   
    
{% endblock content %}