{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            
        	{% for answer in answers %}
            		{% if answer.post == post %}
                  <div class='media-body ml-3'>
              			<div class="article-metadata container">
  			              <a class="mr-2" href="#">{{ answer.author }}</a>
  			              <small class="text-muted">{{ answer.date_posted|date:"F d, Y" }}</small>	
  			            </div>
  			            <p class="article -content container">{{ answer.content }}</p>
                  </div>
			        {% endif %}   
        	{% endfor%}	
          </div>
        </article>
    {% endfor %}
{% endblock content %}